* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    position: relative;
    font-size: 12px;
    line-height: 1.2;
    background-color: #fff;
}
main{
    height: calc(100vh - 50px);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
main>section{
    display: none;
}
main>section:first-child{
    display: block;
}
a{
    text-decoration: none;
}
.item{
border-bottom: 1px solid #ccc;
padding-top: 10px;
padding-bottom: 10px;
}
.item>a{
    display: block;
    display: flex;
}
.item .cover,
.item .cover img{
    width: 70px;
}
.item .detail {
    display: flex;
    padding-left: 10px;
}
.item .detail h2{
    font-size: 16px;
}
.item .detail .extra {
    color: #999;
    margin-top: 4px;
}
.item .detail .score{
    color: #ff5722;
}
footer{
    position: absolute;
    height: 50px;
    width: 100%;
    display: flex;
    border-top: 1px solid #ccc;
}
footer>div{
    flex: 1;
    text-align: center;
}
footer .active{
    color: #ff5722;
}
footer>div>span{
    display: block;
    padding-top: 5px;
}
